<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}E-shop{%endblock%}</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Eshop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="{%url 'product_list'%}">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>



          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Catégories</a>
            <div class="dropdown-menu">
              {% for category in categories %}
              <a class="dropdown-item" href="{%url 'category_detail' category.id%} ">{{category.name}}</a>
              {% endfor %} 
            </div>
          </li>

          
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>       
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  {%block content %}
  {% endblock %}

   <script src="{%static 'js/bootstrap.bundlemin.js'%}"></script>
</body>
</html>